<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
</head>
<body>
    <dvi class="main-content">
        {{>header}}
        <img src="./img/IMG_2095_2.jpg" alt="" srcset="" class="portrait">

        <p>This app uses mapbox api and openweather api to display weather data.</p>
    </dvi>
    
    {{>footer}}

</body>
</html>